<!--Footer-->
<footer class="page-footer font-small indigo pt-0">
    <!--Footer Links-->
    <div class="container">
        <div class="col-md-12">
            <img src="/dev_log/img/dev_log-logo-white.png" alt="dev_log Logo">
        </div>

        <div class="col-md-2">
            hosted with
            <i class="em em-hearts"></i> on
            <i class="fab fa-github"></i>
        </div>
    </div>
    <div class="col-md-12">
        ©
        <script type="text/javascript">
            document.write(new Date().getFullYear())
        </script>
    </div>
</footer>
<!--/Footer-->
